@charset "utf-8";
@import url("//at.alicdn.com/t/font_e446xikaro6o5hfr.css");
.clear-both:before,
.clear-both:after {
	clear: both;
	display: table;
	content: '';
}

.bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-image: -moz-linear-gradient(-90deg, #7B7ABE 0%, #5DAADB 100%);
	background-image: -o-linear-gradient(-90deg, #7B7ABE 0%, #5DAADB 100%);
	background-image: -webkit-linear-gradient(-90deg, #7B7ABE 0%, #5DAADB 100%);
	background-image: linear-gradient(-90deg, #7B7ABE 0%, #5DAADB 100%);
}

.bg:before,
.bg:after {
	content: '';
	width: 60px;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.1);
	z-index: 0;
}

.bg:after {
	left: auto;
	right: 0;
}

header,
footer {
	width: 100%;
	height: 60px;
	background-color: rgba(255,255,255,0.1);
	padding: 0 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

footer {
	top: auto;
	bottom: 0;
	text-align: center;
	line-height: 60px;
	color: rgba(255,255,255,0.8);
}

.main {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 60px;
}

.logo {
	width: 200px;
	float: left;
	overflow: hidden;
    height: 60px;
	line-height: 60px;
}

.logo i {
	font-size: 28px;
	color: rgba(255,255,255,0.8);
}

.setting {
	float: right;
	color: rgba(255,255,255,0.8);
	height: 60px;
	cursor: pointer;
}

.choose-school {
	display: block;
	height: 30px;
	margin: 15px 0;
	line-height: 30px;
}

.wapper {
	width: 816px;
	position: absolute;
    left: 50%;
    margin-left: -408px;
    top: 20%;
}

.search-part {
	width: 485px;
	height: 40px;
	margin: 0 auto;
}

.search-input,
#search-btn {
	float: left;
}

.search-input {
	border-radius: 20px;
	background-color: #FFF;
    position: relative;
    z-index: 20;
}

.search-input input {
	height: 40px;
	width: 310px;
	background-color: transparent;
	padding: 0 15px;
	color: #596984;
}

.search-input input::-webkit-input-placeholder { /* WebKit browsers */
　　color:#596984;
}
.search-input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#596984;
}
.search-input input::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#596984;
}
.search-input input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#596984;
}

.search-input input,
.search-input button {
    float: left;
}

.search-input button {
	width: 50px;
	height: 30px;
	line-height: 30px;
	color: #596984;
	background-color: transparent;
	margin: 5px 15px 5px 0;
}

.search-input button:before {
	content: '\e615';
	font-family: iconfont;
	margin-right: 5px;
}

.search-tips {
	position: absolute;
	bottom: 0;
	background-color: #FF7D7D;
	margin-bottom: -20px;
	color: #FFF;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	border-radius: 6px;
	display: none;
	transition: margin-bottom ease .5s;
}

.search-ul {
    width: 50px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    right: 6px;
    margin-top: 41px !important;
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    display: none;
    color: #596984;
}

.search-ul li {
	cursor: pointer;
}

.search-ul li:hover {
	background-color: #eaeaea;
}

.search-ul li.current {
	color: #15c9ee;
}

#search-btn {
	width: 100px;
	height: 40px;
	border: 2px solid #FFF;
	margin-left: 10px;
	border-radius: 20px;
	background: rgba(255,255,255,0.1);
	color: #FFF;
	transition: all ease-in-out .4s;
}

#search-btn:hover {
	background-color: #FFF;
	color:#596984;
}

.icon-search:before {
	margin-right: 5px;
}

.link-container {
	padding: 20px 0;
}

.link-container .title {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.link-container .title:before {
	content: '';
	width: 2px;
	height: 13px;
	background-color: #15c9ee;
	display: block;
	margin: 3px 10px 3px 10px;
	float: left;
}

.link-container .link-wapper {
	padding: 10px 0;
}

.link-container .link-wapper li {
	width: 116px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	float: left;
	margin: 10px;
	background: rgba(255,255,255,0.11);
	border-radius: 6px;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	letter-spacing: 0;
	transition: all ease .3s;
}

.link-container .link-wapper li a {
	color: inherit;
}

.link-container .link-wapper li:hover {
	background: #15c9ee;
	box-shadow: 0 2px 9px 0 rgba(0,0,0,0.20);
	border-radius: 6px;
}

.tips-text {
	line-height: 50px;
	text-align: center;
	color: #FFF;
	letter-spacing: 2px;
}

.choose-school-wapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.15);
	z-index: 999999;
	display: none;
}

.chooose-container {
	width: 800px;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	top: 20%;
	background: #FFFFFF;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.21);
	border-radius: 20px;
	overflow: hidden;
}

.chooose-container .title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #FFF;
	background: #15c9ee;
	letter-spacing: 1px;
	position: relative;
}

.chooose-container .title i {
    position: absolute;
    right: 13px;
    font-size: 20px;
    cursor: pointer;
    line-height: 38px;
}

.chooose-container .title i:hover {
	color: #F4F4F4;
}

.chooose-container .title i:active {
	color: #E6E6E6;
}

.step1,
.step2 {
	width: 652px;
	height: 310px;
	margin: 20px auto;
}

.step2 {
	display: none;
}

.chooose-container .form-btn {
	position: absolute;
    bottom: 50px;
    left: 50%;
}

.step1 .form-btn {
	width: 170px;
    margin-left: -85px;
}

.step2 .form-btn {
	width: 255px;
    margin-left: -127px;
}

.list li {
	float: left;
	width: 83px;
	height: 35px;
	line-height: 35px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	transition: all ease .3s;
}

.step2 .list li {
	width: auto;
    padding: 0 15px;
}

.form-btn button {
	width: 75px;
	height: 35px;
	line-height: 35px;
	float: left;
	margin: 0 5px;
	border-radius: 4px;
	border: 1px solid #E1E6EB;
	transition: all ease .3s;
}

.form-btn .cancel,
.form-btn .last {
	background-color: #FAFAFA;
	color: #22282E;
}

.list li:hover,
.list li.current,
.form-btn .ok,
.form-btn .next {
	color: #fff;
    background-color: #15c9ee;
    border-color: #15c9ee;
}

.form-btn .ok:hover,
.form-btn .next:hover {
	background-color: #2BCEEF;
    border-color: #2BCEEF;
}

.form-btn .ok:active,
.form-btn .next:active {
	background-color: #12B3D4;
    border-color: #12B3D4;
}

.form-btn .cancel:hover,
.form-btn .last:hover {
	background-color: #F2F1F1;
    border-color: #F2F1F1;
}

.form-btn .cancel:active,
.form-btn .last:active {
	background-color: #DFDFDF;
    border-color: #DFDFDF;
}
